*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
.sass-cache
node_modules

# Specifics

# Hide generate site
_site/

# Hide design tokens
_includes/scss/_tokens.scss

# Hide compiled CSS
_includes/assets/css/*
